<%= render 'userNavBar',user: current_user %>
<%= render 'questions/searchSidebar' %>
<%= render 'carousel' %>
<div class="col-lg-9">
<div id="filterrific_results">

  
  <div id="questions" >
  <%= render 'list',questions: @questions %>
  </div>
<br>
<br>

</div>
</div>
<!-- /.col-lg-9 -->

<%= render 'endIndexPage' %>
<%= render 'footer' %>
