<%= render 'userNavBar',user: current_user %>
<%= render 'questions/searchSidebar' %>

<div class="col-lg-9">
<div id="filterrific_results">

  
  <div id="questions" >
  <%= render 'list',questions: @questions %>
  </div>
<br>
<%= will_paginate @questions  %>
<br>
<%= link_to 'New Question', new_question_path %>

</div>
<!-- /.col-lg-9 -->

