<%= render 'userNavBar',user: current_user %>

<div class="row">

<div class="col-lg-2">
 
</div>
<!-- /.col-lg-2 -->

<div class="col-lg-9">

  <div class="card mt-4">
    
    <div class="card-body">
      <h3 class="card-title"><%=@question.title %></h3>
      
      <p class="card-text"><%=@question.content %></p>
      <span class="text-info">Posted by <%= @question.user.try(:name)%> on <%= @question.created_at.to_date %> </span>
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
   
    <div class="card-body">
    <%= render "answers/form" %> 
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">
     Answers
    </div>
    <div class="card-body" id="ans">
    <%= render @question.answers.order(created_at: :desc) %>
   
      
    </div>
  </div>
  <!-- /.card -->
  <br/>

<%= link_to "Back", products_path %>
&nbsp;&nbsp;
<% if current_user.id == @question.user_id %>
<%= link_to 'Edit', edit_question_path(@question) ,class:"btn btn-warning" %> 
<% end %>
<br/>
<br/>

</div>
<!-- /.col-lg-9 -->


</div>






