<div class="row">

 <div class="col-lg-3">

 <h1 class="my-4"><%= title %></h1>
 <%= form_for_filterrific @filterrific do |f| %>

    <div class="form-group">
      <label>Search</label>
      
      <%= f.text_field(:search_query,
        class:'filterrific-periodically-observed form-control'
      ) %>
    </div>

    
    <div class="form-group">
      <label>Category</label>
      <%= f.select(
        :with_service_category_id,
        @filterrific.select_options[:with_service_category_id],
        { include_blank: '- Any -' },
        class:'form-control'
      ) %>
    </div>
    
   <div class="form-group" >
      <label>Sorted by</label>
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],class:'form-control') %>
    </div>
    <div>
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
      ) %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  <% end %>
  
 
 </div>