<%= render 'userNavBar',user: current_user %>


<div class="row">

<div class="col-lg-2">
 
</div>
<!-- /.col-lg-2 -->
<div class="col-9 ">

<div class="card mt-4">
<%=image_tag google_map(center: @service.address) %>
  <div class="card-body">
    <h3 class="card-title"><%= @service.name %></h3>
    <h4><%=@service.address%></h4> 
    <h4 class="card-text">Description:<%=@service.description%></h4>
    <h4>Contact:<%=@service.phone%></h4> 
    
    

    
  </div>
</div>
<br/>

<%= link_to "Back", services_path %>
&nbsp;&nbsp;
<% if current_user.id == @service.user_id %>
<%= link_to 'Edit', edit_service_path(@service) ,class:"btn btn-warning" %> 
<% end %>
<br/>
<br/>


<!-- /.card -->

</div>

<!-- /.col-lg-9 -->

</div>

</div>
<%= render 'footer' %>





