<%= render 'userNavBar',user: current_user %>
<div class="container">
<div class="card card-register mx-auto mt-5">
  <div class="card-header">Edit my Account</div>
  <div class="card-body">
  
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, autocomplete: "off" %>
  <% if @minimum_password_length %>
    <br />
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>

  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "off" %>

  <%= f.select :gender,options_for_select([['Male',0],['Female',1],['Not given',2]], selected: current_user.gender) ,autofocus: true %>
  <%= f.file_field :image %>
    <button type="submit" value="Send" id="submit" class="btn btn-primary btn-block">Edit</button>

    <% end %>

    <hr>
     
    <div class="text-center">
    <small>Unhappy?</small>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger" %>
    <br/><%= link_to "Back", :back %>
    </div>
 </div>
</div>
</div>

</div>
<br/>
<br/>
<%= render 'footer' %>