
<%= bootstrap_form_with(model: pet, local: true) do |form| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
    <%= form.text_field :name, id: :pet_name %>
    <%= form.text_field :breed, id: :pet_breed %>
    <%= form.file_field :photo, id: :pet_photo %>
    <%= form.number_field :price, id: :pet_price %>
    <%= form.text_field :phone, id: :pet_phone %>
    <%= form.number_field :age, id: :pet_age %>
    <%= form.text_area :description, id: :pet_description %>
    <%= form.hidden_field :user_id,value:current_user.id %>
    
    <%= form.select :type_id, options_for_select(Type.all.map {|t|[t.name, t.id]}) ,class:'form-control' %>
    

  

  <br/>
  <div class="text-center">
<button type="submit" value="Send" id="submit" class="btn btn-primary btn-block">Submit</button>
<%= link_to 'Back', pets_path %>
</div>
  
<% end %>

