
<%= render 'userNavBar',user: current_user %>
<%= render 'filterbar',title: "Pet Sale" %>
<%= render 'carousel'%>

<div id="pets">
<%= render 'list',objects:@pets  %>
</div>
 



<%= render 'endIndexPage' %>
<%= render 'footer' %>