<%= render 'userNavBar',user: current_user %>
<div class="col-2" ></div>
<div class="col-8 ">

<div class="card mt-4">
<%=link_to(image_tag(@pet.photo.showImg.url, alt: 'Photo'),@pet.photo.url,target:'_blank')  if @pet.photo? %>
  <div class="card-body">
    <h3 class="card-title"><%=@pet.name%></h3>
    <h4>Price:<%=@pet.price%>$</h4>
    <h4>Breed:<%=@pet.breed%></h4> 
    <h4>Age:<%=@pet.age%></h4> 
    <h4 class="card-text">Description:<%=@pet.description%></h4>
    <h4>For more info call:<%=@pet.phone%></h4> 
    
    

    
  </div>
</div>
<br/>

<%= link_to "Back", :back %>
<br/>
<br/>
<!-- /.card -->
</div>