<%= render 'userNavBar',user: current_user %>


<div class="row">

<div class="col-lg-2">
 
</div>
<!-- /.col-lg-2 -->
<div class="col-9 ">

<div class="card mt-4">
<%=link_to(image_tag(@pet.photo.showImg.url, alt: 'Photo'),@pet.photo.url,target:'_blank')  if @pet.photo? %>
  <div class="card-body">
    <h3 class="card-title"><%=@pet.name%></h3>
    <h4>Price:<%=@pet.price%>EGP</h4>
    <h4>Breed:<%=@pet.breed%></h4> 
    <h4>Age:<%=@pet.age%></h4> 
    <h4 class="card-text">Description:<%=@pet.description%></h4>
    <h4>For more info call:<%=@pet.phone%></h4> 
    
    

    
  </div>
</div>
<br/>

<%= link_to "Back", pets_path %>
&nbsp;&nbsp;<%= link_to 'Edit', edit_pet_path(@pet) ,class:"btn btn-warning" %> 
<br/>
<br/>
<!-- /.card -->
</div>


<!-- /.col-lg-9 -->

</div>