
 <div class="container">
 <br/><br/>
 <%= button_to "logout" ,destroy_user_session_path,method: :delete,:class => "btn btn-primary " %> 
 <h1 align="center" >CityJungle</h1>
 <br/><br/><br/>
 <div class="row justify-content-center"
 <div class="btn-group btn-group-lg">
 <%= link_to "Pet Sale" ,pets_path,:class => "btn btn-outline-danger" %> 
 <%= link_to "Services" ,services_path,:class => "btn btn-outline-warning" %> 
 <%= link_to "Lost&Found" ,posters_path,:class => "btn btn-outline-dark" %> 
 <%= link_to "Store" ,products_path,:class => "btn btn-outline-primary" %> 
 <%= link_to "Q&A" ,questions_path,:class => "btn btn-outline-info" %> 
</div> 
</div>
 


<div>