<%= render 'userNavBar',user: current_user %>
<%= render 'filterbar',title: "Pet Store " %>
<%= render 'carousel' %>
<div id="products">

<%= render 'list',objects:@products %>


</div>


<%= render 'endIndexPage' %>
<%= render 'footer' %>
