<%= render 'userNavBar',user: current_user %>


<div class="row">

<div class="col-lg-2">
 
</div>
<!-- /.col-lg-2 -->
<div class="col-9 ">

<div class="card mt-4">
<%=link_to(image_tag(@product.productImage.showImg.url, alt: 'Photo'),@product.productImage.url,target:'_blank')  if @product.productImage? %>



  <div class="card-body">
    <h3 class="card-title"><%=@product.name%></h3>
    
    <h4>Brand:<%=@product.brand%></h4> 
    <h4 class="card-text">Description:<%=@product.description%></h4>
    <h4>Price:<%=@product.price%>EGP</h4>


<%= form_tag charges_path do %>
  <article>
  
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    
  </article>
   <%= hidden_field_tag 'amount', @product.price * 100  %>
   <%= hidden_field_tag 'account_id', @product.user.stripe_uid %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Get Your Product"
          data-amount= <%=@product.price * 100%> 
          data-locale="auto"></script>
<% end %>


    
    

    
  </div>
</div>
<br/>
<div class="card card-outline-secondary my-4">
   
    <div class="card-body">
    <%= render "reviews/form" %> 
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">
     Reviews
    </div>
    <div class="card-body" id="rev">
    <%= render @product.reviews.order(created_at: :desc) %>
   
      
    </div>
  </div>
  <!-- /.card -->

<br/>

<%= link_to "Back", products_path %>
&nbsp;&nbsp;
<% if current_user.is_store == 1 %>
<%= link_to 'Edit', edit_product_path(@product) ,class:"btn btn-warning" %> 
<% end %>
<br/>
<br/>
<!-- /.card -->
</div>


<!-- /.col-lg-9 -->

</div>

</div>
<%= render 'footer' %>
