<%= render 'userNavBar',user: current_user %>


<div class="row">

<div class="col-lg-2">
 
</div>
<!-- /.col-lg-2 -->
<div class="col-9 ">

<div class="card mt-4">
<%=link_to(image_tag(@product.productImage.showImg.url, alt: 'Photo'),@product.productImage.url,target:'_blank')  if @product.productImage? %>



  <div class="card-body">
    <h3 class="card-title"><%=@product.name%></h3>
    <h4>Price:<%=@product.price%>$</h4>
    <h4>Brand:<%=@product.brand%></h4> 
    <h4 class="card-text">Description:<%=@product.description%></h4>
    <button type="button" class="btn btn-outline-dark" >Get It</button>
    
    

    
  </div>
</div>
<br/>
<div class="card card-outline-secondary my-4">
   
    <div class="card-body">
    <%= render "reviews/form" %> 
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">
     Reviews
    </div>
    <div class="card-body" id="rev">
    <%= render @product.reviews %>
   
      
    </div>
  </div>
  <!-- /.card -->
<%= link_to "Back", :back %>
<br/>
<br/>
<!-- /.card -->
</div>


<!-- /.col-lg-9 -->

</div>